:root {
  --clr-primary: #131921;
  --clr-gold: #cd9042;
  --clr-gold-secondary: #f0c14b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eaebec;
}

/* ****** Header.jsx ****** */
.header {
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  margin: 18px 20px 0 20px;
  object-fit: contain;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__search-input {
  height: 12px;
  padding: 15px;
  border: none;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__search-button {
  border: none;
  cursor: pointer;
  background-color: var(--clr-gold);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header__search-icon {
  padding: 5px 10px;
  height: 22px;
  font-size: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__nav-link {
  color: white;
  text-decoration: none;
}

.header__nav-option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.header__nav-option span:first-child {
  font-size: 10px;
  font-weight: 400;
}
.header__nav-option span:last-child {
  font-size: 13px;
  font-weight: 800;
}

.header__nav-option-basket {
  display: flex;
  align-items: center;
}
.header__nav-option-basket:first-child {
  font-size: 30px;
}
.header__nav-option-basket span:nth-child(2) {
  font-size: 18px;
  font-weight: 800;
  margin: 0 10px;
  color: var(--clr-gold);
}

/* ******** Home.jsx ********* */

.home {
  max-width: 1500px;
  margin: 0 auto;
}
.home__banner {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -150px;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
/* product */
.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  align-items: center;
}

.product > img {
  width: 100%;
  max-height: 200px;
  margin-bottom: 15px;
  object-fit: contain;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product__rating {
  display: flex;
}

.product__add-to-basket {
  background-color: var(--clr-gold-secondary);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 5px;
  cursor: pointer;
}
